html,
body
    height: 100%

body
    background: $white
    overflow: hidden

.bi
    fill: currentColor

.active
    font-weight: 600

.modal-open
    .header,
    .main,
    .footer
        filter: blur(3px)

.no-border
    border: none 