.loader
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    opacity: 0
    visibility: hidden
    background: rgba(255, 255, 255, 0.95)
    z-index: 9999
    transition: opacity 500ms linear, visibility 0s linear 500ms
    &.is-loading
        opacity: 1
        visibility: visible 
    &__icon
        position: fixed
        top: 50%
        left: 50%
        margin: -25px 0 0 -25px
        border: 4px solid $black
        border-radius: 50%
        border-top-color: $white
        width: 50px
        height: 50px
        animation: spin 700ms linear infinite
    
@keyframes spin
    100%
        transform: rotate(360deg)