// |------------------------------------------------------
// |------------------------------------------------------
// | Headings
// |------------------------------------------------------
// |------------------------------------------------------

h1 {
	color: $primary-color;
	letter-spacing: -0.05em;
}

h2 {
	color: purple;
}

h3 {
	color: green;
}