{% extends "base.html" %}
{% set content =
	{
    title: 'Home',
    description: 'description',
    keywords: 'keywords',
		page: 'home'
	}
%}
{% block content %}
  <div class="container pt-5">
    <h1 class="mt-5 display-1">Home</h1>
    <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. <br>A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settings">
      Launch demo modal
    </button>
    <div class="row mt-5">
      <div class="col col-1">
        <i class="bi-heart-fill"></i>
        <i class="bi-toggles"></i>
      </div>
      <div class="col col-1">
        <svg width="32" height="32" fill="currentColor">
          <use xlink:href="images/bootstrap-icons.svg#heart-fill"/>
        </svg>
        <svg width="32" height="32" fill="currentColor">
          <use xlink:href="images/bootstrap-icons.svg#toggles"/>
        </svg>
      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  <div id="settings" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-3 no-border">
        <div class="modal-body p-4 text-center">
          <h5 class="mb-0">Enable this setting?</h5>
          <p class="mb-0">You can always change your mind in your account settings.</p>
        </div>
        <div class="modal-footer flex-nowrap p-0">
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"><strong>Yes, enable</strong></button>
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">No thanks</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}