<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gulp Boilerplate | {{ content.title }}</title>
        
        <meta property="og:title" content="{{ content.title }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ content.description }}">
        <meta property="og:image" content="/images/share.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="fb:app_id" content="1262679027560252">

        <meta itemprop="url" content="/" />
        <meta itemprop="name" content="{{ content.title }}" />
        <meta itemprop="description" content="{{ content.description }}">
        <meta itemprop="image" content="/images/share.png" />

        <meta name="description" content="{{ content.description }}">
        <meta name="keywords" content="{{ content.keywords }}">
        <meta name="author" content="Wallace Erick">
        <meta name="robots" content="index, follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{ content.title }}">
        <meta name="theme-color" content="#712cf9">
        <meta name="msapplication-navbutton-color" content="#712cf9">
        <meta name="apple-mobile-web-app-status-bar-style" content="#712cf9">
        <meta name="apple-mobile-web-app-title" content="#712cf9">
        <meta name="msapplication-TileColor" content="#712cf9" />
        <meta name="theme-color" content="#712cf9" />

        <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" sizes="180x180">
        <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#712cf9">
        <link rel="icon" href="/images/icons/favicon.ico">
        <link rel="manifest" href="/manifest.json">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="d-flex flex-column h-100">
        {% include "header.html" %}

        <main class="main flex-shrink-0">
            {% block content %}{% endblock %}
        </main>

        {% include "footer.html" %}

        {% block modals %}{% endblock %}
        <div class="loader is-loading">
            <div class="loader__icon"></div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>