<header class="header">
    <nav class="navbar navbar-expand-md navbar-secondary fixed-top bg-light">
        <div class="container">
            <h1 class="d-flex align-items-center mb-0 mb-md-0 me-md-auto">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="images/bootstrap-icons.svg#bootstrap"></use>
                    </svg>
                </a>
            </h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if content.page == 'home' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if content.page == 'validation' %}active{% endif %}" href="validation.html">Validation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>