// |------------------------------------------------------
// |------------------------------------------------------
// | Only to Demo
// | Useless styles
// |------------------------------------------------------
// |------------------------------------------------------

.box, 
.box-first, 
.box-large, 
.box-nested, 
.box-row {
    padding: 1rem;
}
.box-title {
	padding: 1em 0 0 0; 
	color: black;
	font-size: 2em;
}
.box-subtitle {
	color: $primary-color;
	font-size: 1.4em;
	padding: 0.5em 0;
}
.box-text {
	padding: 10px 0;
	font-size: 1em;
	opacity: 0.7;
}

.box, 
.box-first, 
.box-large, 
.box-nested, 
.box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: $primary-color;
    border: 1px solid #FFF;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.box-row {
    margin-bottom: 1rem;
}

.box-first {
    background: darken($primary-color, 10%);
    border-color: darken($primary-color, 20%);
}
.box-nested {
    background: darken($primary-color, 25%);
    border-color: darken($primary-color, 30%);
}