// |------------------------------------------------------
// |------------------------------------------------------
// | Helpers
// |------------------------------------------------------
// |------------------------------------------------------

.clear {
	@include clearfix;
}

.hide-text {
	@include hide-text;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

.centered {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}
