
.button {
  position: relative;
  padding: 15px 25px;
  color: white;
  cursor: pointer;
  background-color: #178CE7;
  text-transform: uppercase;
  border-radius: 3px;
}

.button-effect {
  display: inline-block;
  overflow: hidden;
}

.effect-wave {
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  opacity: 0.5;
}