// Fonts

@font-face {
  font-family: "Estado Fine";
  src: url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.eot");
  src: url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.eot?#iefix") format("embedded-opentype"), url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.woff2") format("woff2"), url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.woff") format("woff"), url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.ttf") format("truetype"), url("http://infograficos.estadao.com.br/assets/fonts/Estado/EstadoFine/EstadoFine-Roman-webfont.svg#estado_fineroman") format("svg");
  font-weight: normal;
  font-style: normal;
}