@import url("//fonts.googleapis.com/css?family=Open+Sans");
/* line 9, assets/css/generic/_normalize.scss */
* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  box-sizing: border-box;
}

/* line 16, assets/css/generic/_normalize.scss */
body,
html {
  font-family: "Open Sans";
  font-size: 16px;
  color: #323232;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
/* line 37, assets/css/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
/* line 58, assets/css/generic/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
/* line 71, assets/css/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
/* line 81, assets/css/generic/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
/* line 93, assets/css/generic/_normalize.scss */
a {
  text-decoration: none;
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
/* line 103, assets/css/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
/* line 115, assets/css/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
/* line 123, assets/css/generic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
/* line 132, assets/css/generic/_normalize.scss */
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
/* line 141, assets/css/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
* Address styling not present in IE 8/9.
*/
/* line 150, assets/css/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
/* line 159, assets/css/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
/* line 167, assets/css/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 175, assets/css/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 179, assets/css/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
/* line 190, assets/css/generic/_normalize.scss */
img {
  border: 0;
  max-width: 100%;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
/* line 199, assets/css/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
/* line 210, assets/css/generic/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
/* line 218, assets/css/generic/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
/* line 227, assets/css/generic/_normalize.scss */
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
/* line 235, assets/css/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
*/
/* line 257, assets/css/generic/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
/* line 270, assets/css/generic/_normalize.scss */
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
/* line 281, assets/css/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
/* line 294, assets/css/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
/* line 306, assets/css/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
/* line 315, assets/css/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
/* line 326, assets/css/generic/_normalize.scss */
input {
  line-height: normal;
}

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
/* line 338, assets/css/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
/* line 350, assets/css/generic/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
/* line 360, assets/css/generic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
/* line 371, assets/css/generic/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
/* line 380, assets/css/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
*/
/* line 390, assets/css/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
/* line 398, assets/css/generic/_normalize.scss */
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
/* line 407, assets/css/generic/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
/* line 418, assets/css/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 423, assets/css/generic/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 7, assets/css/generic/_helpers.scss */
.row {
  display: inline-block;
  position: relative;
}

/* line 12, assets/css/generic/_helpers.scss */
.clear {
  display: block;
  clear: both;
}

/* line 17, assets/css/generic/_helpers.scss */
.hide-text, .gh-slider .slick-dots li button {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 23, assets/css/generic/_helpers.scss */
.block {
  display: block;
}

/* line 27, assets/css/generic/_helpers.scss */
.none {
  display: none;
}

/* line 31, assets/css/generic/_helpers.scss */
.center {
  text-align: center;
}

/* line 35, assets/css/generic/_helpers.scss */
.auto {
  margin: 0 auto;
}

/* line 39, assets/css/generic/_helpers.scss */
.left {
  float: left;
}

/* line 43, assets/css/generic/_helpers.scss */
.right {
  float: right;
}

/* line 47, assets/css/generic/_helpers.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 51, assets/css/generic/_helpers.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 7, assets/css/elements/_headings.scss */
h1 {
  color: #008af6;
  letter-spacing: -0.05em;
}

/* line 12, assets/css/elements/_headings.scss */
h2 {
  color: purple;
}

/* line 16, assets/css/elements/_headings.scss */
h3 {
  color: green;
}

/* line 7, assets/css/elements/_paragraphs.scss */
p {
  line-height: 20px;
}

/* line 7, assets/css/elements/_links.scss */
a {
  color: blue;
}

/* line 7, assets/css/objects/_layout.scss */
body {
  background-color: #E1E1E1;
}

/* line 11, assets/css/objects/_layout.scss */
.wrapper {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 8, assets/css/components/_buttons.scss */
.gh-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 20px;
  padding: 15px 25px;
  color: white;
  cursor: pointer;
  background-color: #178CE7;
  text-transform: uppercase;
  border-radius: 3px;
}

/* line 20, assets/css/components/_buttons.scss */
.gh-button__effect {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: yellow;
  border-radius: 100%;
  opacity: 0.5;
}

/* line 7, assets/css/components/_inputs.scss */
.gh-input {
  position: relative;
  margin-bottom: 35px;
}

/* line 11, assets/css/components/_inputs.scss */
.gh-input input[type="color"], .gh-input input[type="date"], .gh-input input[type="datetime"], .gh-input input[type="datetime-local"], .gh-input input[type="email"], .gh-input input[type="month"], .gh-input input[type="number"], .gh-input input[type="password"], .gh-input input[type="search"], .gh-input input[type="tel"], .gh-input input[type="text"], .gh-input input[type="time"], .gh-input input[type="url"], .gh-input input[type="week"], .gh-input input:not([type]), .gh-input textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: blue;
  background-color: white;
  border: none;
  border-bottom: 1px solid red;
}

/* line 20, assets/css/components/_inputs.scss */
.gh-input input[type="color"]:focus, .gh-input input[type="date"]:focus, .gh-input input[type="datetime"]:focus, .gh-input input[type="datetime-local"]:focus, .gh-input input[type="email"]:focus, .gh-input input[type="month"]:focus, .gh-input input[type="number"]:focus, .gh-input input[type="password"]:focus, .gh-input input[type="search"]:focus, .gh-input input[type="tel"]:focus, .gh-input input[type="text"]:focus, .gh-input input[type="time"]:focus, .gh-input input[type="url"]:focus, .gh-input input[type="week"]:focus, .gh-input input:not([type]):focus, .gh-input textarea:focus {
  outline: 0;
}

/* line 22, assets/css/components/_inputs.scss */
.gh-input input[type="color"]:focus ~ span, .gh-input input[type="date"]:focus ~ span, .gh-input input[type="datetime"]:focus ~ span, .gh-input input[type="datetime-local"]:focus ~ span, .gh-input input[type="email"]:focus ~ span, .gh-input input[type="month"]:focus ~ span, .gh-input input[type="number"]:focus ~ span, .gh-input input[type="password"]:focus ~ span, .gh-input input[type="search"]:focus ~ span, .gh-input input[type="tel"]:focus ~ span, .gh-input input[type="text"]:focus ~ span, .gh-input input[type="time"]:focus ~ span, .gh-input input[type="url"]:focus ~ span, .gh-input input[type="week"]:focus ~ span, .gh-input input:not([type]):focus ~ span, .gh-input textarea:focus ~ span {
  width: 100%;
  transition: all 0.35s ease;
}

/* line 28, assets/css/components/_inputs.scss */
.gh-input input[type="color"]:focus ~ label,
.gh-input input[type="color"]:valid ~ label,
.gh-input input[type="color"].valid ~ label, .gh-input input[type="date"]:focus ~ label,
.gh-input input[type="date"]:valid ~ label,
.gh-input input[type="date"].valid ~ label, .gh-input input[type="datetime"]:focus ~ label,
.gh-input input[type="datetime"]:valid ~ label,
.gh-input input[type="datetime"].valid ~ label, .gh-input input[type="datetime-local"]:focus ~ label,
.gh-input input[type="datetime-local"]:valid ~ label,
.gh-input input[type="datetime-local"].valid ~ label, .gh-input input[type="email"]:focus ~ label,
.gh-input input[type="email"]:valid ~ label,
.gh-input input[type="email"].valid ~ label, .gh-input input[type="month"]:focus ~ label,
.gh-input input[type="month"]:valid ~ label,
.gh-input input[type="month"].valid ~ label, .gh-input input[type="number"]:focus ~ label,
.gh-input input[type="number"]:valid ~ label,
.gh-input input[type="number"].valid ~ label, .gh-input input[type="password"]:focus ~ label,
.gh-input input[type="password"]:valid ~ label,
.gh-input input[type="password"].valid ~ label, .gh-input input[type="search"]:focus ~ label,
.gh-input input[type="search"]:valid ~ label,
.gh-input input[type="search"].valid ~ label, .gh-input input[type="tel"]:focus ~ label,
.gh-input input[type="tel"]:valid ~ label,
.gh-input input[type="tel"].valid ~ label, .gh-input input[type="text"]:focus ~ label,
.gh-input input[type="text"]:valid ~ label,
.gh-input input[type="text"].valid ~ label, .gh-input input[type="time"]:focus ~ label,
.gh-input input[type="time"]:valid ~ label,
.gh-input input[type="time"].valid ~ label, .gh-input input[type="url"]:focus ~ label,
.gh-input input[type="url"]:valid ~ label,
.gh-input input[type="url"].valid ~ label, .gh-input input[type="week"]:focus ~ label,
.gh-input input[type="week"]:valid ~ label,
.gh-input input[type="week"].valid ~ label, .gh-input input:not([type]):focus ~ label,
.gh-input input:not([type]):valid ~ label,
.gh-input input:not([type]).valid ~ label, .gh-input textarea:focus ~ label,
.gh-input textarea:valid ~ label,
.gh-input textarea.valid ~ label {
  color: blue;
  font-size: 0.875rem;
  top: -15px;
  left: 0;
  transition: all .2s ease;
}

/* line 38, assets/css/components/_inputs.scss */
.gh-input input[type="color"]:invalid, .gh-input input[type="color"].invalid, .gh-input input[type="date"]:invalid, .gh-input input[type="date"].invalid, .gh-input input[type="datetime"]:invalid, .gh-input input[type="datetime"].invalid, .gh-input input[type="datetime-local"]:invalid, .gh-input input[type="datetime-local"].invalid, .gh-input input[type="email"]:invalid, .gh-input input[type="email"].invalid, .gh-input input[type="month"]:invalid, .gh-input input[type="month"].invalid, .gh-input input[type="number"]:invalid, .gh-input input[type="number"].invalid, .gh-input input[type="password"]:invalid, .gh-input input[type="password"].invalid, .gh-input input[type="search"]:invalid, .gh-input input[type="search"].invalid, .gh-input input[type="tel"]:invalid, .gh-input input[type="tel"].invalid, .gh-input input[type="text"]:invalid, .gh-input input[type="text"].invalid, .gh-input input[type="time"]:invalid, .gh-input input[type="time"].invalid, .gh-input input[type="url"]:invalid, .gh-input input[type="url"].invalid, .gh-input input[type="week"]:invalid, .gh-input input[type="week"].invalid, .gh-input input:not([type]):invalid, .gh-input input:not([type]).invalid, .gh-input textarea:invalid, .gh-input textarea.invalid {
  box-shadow: none;
}

/* line 43, assets/css/components/_inputs.scss */
.gh-input input[type="color"] ~ span, .gh-input input[type="date"] ~ span, .gh-input input[type="datetime"] ~ span, .gh-input input[type="datetime-local"] ~ span, .gh-input input[type="email"] ~ span, .gh-input input[type="month"] ~ span, .gh-input input[type="number"] ~ span, .gh-input input[type="password"] ~ span, .gh-input input[type="search"] ~ span, .gh-input input[type="tel"] ~ span, .gh-input input[type="text"] ~ span, .gh-input input[type="time"] ~ span, .gh-input input[type="url"] ~ span, .gh-input input[type="week"] ~ span, .gh-input input:not([type]) ~ span, .gh-input textarea ~ span {
  display: block;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: blue;
  transition: all .125s ease;
}

/* line 53, assets/css/components/_inputs.scss */
.gh-input textarea ~ span {
  bottom: 2px;
}

/* line 57, assets/css/components/_inputs.scss */
.gh-input label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: blue;
  pointer-events: none;
  transition: all .25s ease;
}

/* line 9, assets/css/components/_accordion.scss */
.gh-accordion__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: #008af6;
  color: white;
  cursor: pointer;
  font-size: 1.25em;
  padding: 25px;
  border: none;
  text-align: left;
  outline: none;
  border-bottom: 1px solid #005faa;
  transition: 0.4s;
}

/* line 25, assets/css/components/_accordion.scss */
.gh-accordion__button:hover {
  background-color: #005faa;
}

/* line 29, assets/css/components/_accordion.scss */
.gh-accordion__button__icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}

/* line 35, assets/css/components/_accordion.scss */
.gh-accordion__button__icon:before, .gh-accordion__button__icon:after {
  content: '';
  height: 20px;
  width: 3px;
  position: absolute;
  top: 0px;
  position: absolute;
  background-color: white;
  transition: 0.35s ease-out;
}

/* line 44, assets/css/components/_accordion.scss */
.gh-accordion__button__icon:after {
  transform: rotate(90deg);
}

/* line 50, assets/css/components/_accordion.scss */
.gh-accordion__button--active {
  background-color: #005faa;
}

/* line 56, assets/css/components/_accordion.scss */
.gh-accordion__button--active .gh-accordion__button__icon:after {
  opacity: 0;
}

/* line 59, assets/css/components/_accordion.scss */
.gh-accordion__button--active .gh-accordion__button__icon:before {
  transform: rotate(90deg);
}

/* line 66, assets/css/components/_accordion.scss */
.gh-accordion__panel {
  display: block;
  height: 0;
  width: 100%;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

/* line 74, assets/css/components/_accordion.scss */
.gh-accordion__panel p {
  font-size: 1.125em;
  line-height: 1.5625em;
  padding: 20px 0;
}

/* line 8, assets/css/components/_tabs.scss */
.gh-tabs {
  margin-top: 50px;
}

/* line 11, assets/css/components/_tabs.scss */
.gh-tabs .gh-tabs__content {
  color: #ccc;
  text-align: center;
  padding: 100px 0;
  font-size: 1.875em;
  background: white;
  border-radius: 0 0 3px 3px;
}

/* line 22, assets/css/components/_tabs.scss */
.gh-tabs .gh-tabs__navigation .gh-tabs__navigation__item {
  display: inline-block;
}

/* line 25, assets/css/components/_tabs.scss */
.gh-tabs .gh-tabs__navigation .gh-tabs__navigation__item a {
  display: block;
  background: #008af6;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 1px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 36, assets/css/components/_tabs.scss */
.gh-tabs .gh-tabs__navigation .gh-tabs__navigation__item.active a {
  color: #008af6;
  background: white;
}

/* line 8, assets/css/components/_sliders.scss */
.gh-slider {
  position: relative;
  display: block;
  min-width: 900px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 19, assets/css/components/_sliders.scss */
.gh-slider .slick-track,
.gh-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 24, assets/css/components/_sliders.scss */
.gh-slider .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
}

/* line 29, assets/css/components/_sliders.scss */
.gh-slider .slick-list:focus {
  outline: none;
}

/* line 33, assets/css/components/_sliders.scss */
.gh-slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 39, assets/css/components/_sliders.scss */
.gh-slider .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 43, assets/css/components/_sliders.scss */
.gh-slider .slick-track:before, .gh-slider .slick-track:after {
  content: '';
  display: table;
}

/* line 49, assets/css/components/_sliders.scss */
.gh-slider .slick-track:after {
  clear: both;
}

/* line 53, assets/css/components/_sliders.scss */
.slick-loading .gh-slider .slick-track {
  visibility: hidden;
}

/* line 58, assets/css/components/_sliders.scss */
.gh-slider .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
}

/* line 64, assets/css/components/_sliders.scss */
.gh-slider .slick-slide img {
  display: block;
}

/* line 68, assets/css/components/_sliders.scss */
.gh-slider .slick-slide.slick-loading img {
  display: none;
}

/* line 72, assets/css/components/_sliders.scss */
.gh-slider .slick-slide.dragging img {
  pointer-events: none;
}

/* line 76, assets/css/components/_sliders.scss */
.slick-initialized .gh-slider .slick-slide {
  display: block;
}

/* line 80, assets/css/components/_sliders.scss */
.slick-loading .gh-slider .slick-slide {
  visibility: hidden;
}

/* line 84, assets/css/components/_sliders.scss */
.slick-vertical .gh-slider .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 91, assets/css/components/_sliders.scss */
.gh-slider .slick-arrow.slick-hidden {
  display: none;
}

/* line 96, assets/css/components/_sliders.scss */
.slick-loading .gh-slider .slick-list {
  background: purple;
}

/* line 102, assets/css/components/_sliders.scss */
.gh-slider .slick-prev,
.gh-slider .slick-next {
  cursor: pointer;
  color: red;
  padding: 10px;
  border: 1px solid red;
  outline: none;
}

/* line 110, assets/css/components/_sliders.scss */
.gh-slider .slick-prev:hover, .gh-slider .slick-prev:focus,
.gh-slider .slick-next:hover,
.gh-slider .slick-next:focus {
  color: white;
  background-color: red;
}

/* line 118, assets/css/components/_sliders.scss */
.gh-slider .slick-dots {
  display: block;
  text-align: center;
  width: 100%;
}

/* line 123, assets/css/components/_sliders.scss */
.gh-slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

/* line 127, assets/css/components/_sliders.scss */
.gh-slider .slick-dots li button {
  height: 15px;
  width: 15px;
  border: none;
  background-color: #008af6;
  cursor: pointer;
  outline: none;
  opacity: 0.3;
  border-radius: 100%;
  transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
}

/* line 137, assets/css/components/_sliders.scss */
.gh-slider .slick-dots li button:hover {
  opacity: 0.6;
}

/* line 142, assets/css/components/_sliders.scss */
.gh-slider .slick-dots li.slick-active button {
  opacity: 1;
}

/* line 7, assets/css/components/_tables.scss */
.gh-table {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

/* line 14, assets/css/components/_tables.scss */
.gh-table.gh-fixed-header {
  margin-top: 50px;
}

/* line 17, assets/css/components/_tables.scss */
.gh-table.gh-fixed-header > thead {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: table;
}

/* line 27, assets/css/components/_tables.scss */
.gh-table > thead > tr,
.gh-table > tbody > tr,
.gh-table > tfoot > tr {
  table-layout: fixed;
  transition: all .3s ease;
  background-color: white;
}

/* line 31, assets/css/components/_tables.scss */
.gh-table > thead > tr > th,
.gh-table > thead > tr > td,
.gh-table > tbody > tr > th,
.gh-table > tbody > tr > td,
.gh-table > tfoot > tr > th,
.gh-table > tfoot > tr > td {
  color: black;
  text-align: left;
  padding: 15px 10px;
  width: 25%;
  border-bottom: 1px solid #ececec;
  -webkit-transition: all 0.125s ease-out;
  -moz-transition: all 0.125s ease-out;
  transition: all 0.125s ease-out;
}

/* line 44, assets/css/components/_tables.scss */
.gh-table > tbody > tr:last-child td {
  border-bottom: none;
}

/* line 50, assets/css/components/_tables.scss */
.gh-table > thead > tr th.header {
  cursor: pointer;
}

/* line 52, assets/css/components/_tables.scss */
.gh-table > thead > tr th.header.headerSortUp {
  background-color: blue;
}

/* line 55, assets/css/components/_tables.scss */
.gh-table > thead > tr th.header.headerSortDown {
  background-color: green;
}

/* line 62, assets/css/components/_tables.scss */
.gh-table > thead > tr > th {
  height: 50px;
  width: 25%;
  border-bottom: 2px solid #008af6;
}

/* line 70, assets/css/components/_tables.scss */
.gh-table > tbody > tr:nth-child(odd) > td,
.gh-table > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f7;
}

/* line 78, assets/css/components/_tables.scss */
.gh-table > tbody > tr:hover > td,
.gh-table > tbody > tr:hover > th {
  background-color: #008af6;
  border-bottom-color: #008af6;
}

/* line 83, assets/css/components/_tables.scss */
.gh-table > tbody > tr:hover > td, .gh-table > tbody > tr:hover > th, .gh-table > tbody > tr:hover a, .gh-table > tbody > tr:hover p, .gh-table > tbody > tr:hover span {
  color: white;
}

@media only screen and (max-width: 991px) {
  /* line 98, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > thead,
  .gh-responsive-table > .gh-table > tfoot {
    display: none;
  }
  /* line 106, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr {
    display: block;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 0 20px 20px 20px;
  }
  /* line 112, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr > td {
    width: 100%;
    background-color: #f5f5f7;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  /* line 120, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
  }
  /* line 131, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr:hover > td,
  .gh-responsive-table > .gh-table > tbody > tr:hover {
    background-color: #008af6;
    border-color: #008af6;
  }
  /* line 136, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr:hover,
  .gh-responsive-table > .gh-table > tbody > tr > td:hover {
    color: white;
  }
  /* line 140, assets/css/components/_tables.scss */
  .gh-responsive-table > .gh-table > tbody > tr:hover > td {
    border-color: #006dc3;
  }
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/* line 19, assets/css/components/_sprites.scss */
.icon-gulp {
  background-image: url(../images/sprite.png);
  background-position: 0px -384px;
  width: 197px;
  height: 388px;
}

/* line 25, assets/css/components/_sprites.scss */
.icon-sass {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 384px;
}

/* line 1, assets/css/trumps/_overrides.scss */
.wrapper {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
