// |------------------------------------------------------
// |------------------------------------------------------
// | Sliders
// |------------------------------------------------------
// |------------------------------------------------------


.gh-slider {
    position: relative;
    display: block;
    min-width: 900px;
    margin: 0;
    @include user-select(none);
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-track,
    .slick-list {
        @include transform(translate3d(0, 0, 0));
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    .slick-track {
        @include position(relative, 0 null null 0);
        display: block;

        &:before,
        &:after {
            content: '';
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }

    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        text-align: center;

        img {
            margin: 0 auto;
        }

        &.slick-loading img {
            display: none;
        }

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

    .slick-list {
        .slick-loading & {
            background: purple;
        }
    }

    // Arrows
    .slick-prev,
    .slick-next {
        cursor: pointer;
        color: red;
        padding: 10px;
        border: 1px solid red;
        outline: none;

        &:hover,
        &:focus {
            color: white;
            background-color: red;
        }
    }

    // Dots
    .slick-dots {
        display: block;
        text-align: center;
        width: 100%;

        li {
            display: inline-block;
            margin: 0 5px;

            button {
                @include size($slider-dots-size $slider-dots-size);
                @extend .hide-text;
                border: none;
                background-color: $slider-dots-color;
                cursor: pointer;
                outline: none;
                opacity: 0.3;
                border-radius: 100%;
                transition: all 0.4s $ease-out;
                &:hover {
                    opacity: 0.6;
                }
            }

            &.slick-active button {
                opacity: 1;
            }

        }

    }
}
