// |------------------------------------------------------
// |------------------------------------------------------
// | Tables
// |------------------------------------------------------
// |------------------------------------------------------

table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}